<footer>
    <div class="row">
        <div class="col-6 col-md-2">
            <div class="brand"> 
                    <a class="navbar-brand">
                        <img [src]="'/assets/images/logo.png'" class="logo">
                    </a> 
     
               
            </div>
            <div class="links">
                <div class="icon-links">
                    <i class="fa fa-facebook-official"></i>

                    <i class="fa fa-instagram"></i>
                </div>
             
            </div>

            
        </div>
        <div class="col-6 col-md-3">
            <h5>CONTACTO</h5>
        </div>
    </div> 
</footer>
 