<footer style="overflow: hidden;">
    <div class="row">
        <div class="col-6 col-md-2">
            <div class="brand"> 
                    <a class="navbar-brand">
                        <img [src]="'/assets/images/logo.png'" class="logo">
                    </a>   
            </div>
            <div class="links">
                <div class="icon-links">
                    <a href="https://www.facebook.com/AutoDoc-Peru-108584271589896" target="_blank">
                        <i class="fa fa-facebook-official"></i> 
                    </a>
                    
                    <!-- <i class="fa fa-instagram"></i> -->
                </div> 
            </div>  
        </div>
        <div class="col-6 col-md-3"> 
            <div style="width: 100%; height: 100px;">
                <img src="./assets/images/contact.png" alt="">
            </div> 
        </div>
    </div> 
</footer>
 